<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="calculator_full" annotations="JDK" parallel="methods" thread-count="2">
    <test name="full" verbose="10" annotations="JDK">
        <packages>
            <package name="com.epam.vsharstuk.testing.*"/>
        </packages>
    </test>
</suite>
